<!DOCTYPE html>
<html>
  <head>
    <title>World·View</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon-globe.ico">
  </head>

  <body>

    <div class="container-fluid body-content">
      <div class="content-inside">
        <div class="row">
          <%= render "common/navbar" %>
        </div>
        <%= render "common/flashes" %>
        <%= yield %>

      </div>
    </div>

    <%= render "common/footer" %>
  </body>
</html>
